.custom-modal .upload-new-image input {
  width: 100%;
}

.custom-modal .image-preview-full {
  margin-top: 1rem;
  width: 100%;
}

.custom-modal .image-collection {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  overflow-x: scroll;
  flex-wrap: wrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.custom-modal .image-collection::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-modal .image-collection {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-modal .image-collection__image {
  height: 100%;
  max-width: 31%;
}

.custom-modal .image-collection__image:hover {
  cursor: pointer;
  filter: grayscale(50%) brightness(50%);
}

.custom-modal .image-collection__image img {
  width: 2rem;
  border-radius: 1rem;
}
