.toolbarEntry {
  background-color: hotpink;
  padding: 4px;
}

.toolbarEntry-div {
  background-color: grey;
  overflow: hidden; /*https://stackoverflow.com/questions/16493456/parent-height-doesnt-follow-their-float-children*/
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toolbarEntry-div:hover {
  background-color: yellow;
}

#toolbarEntry-name {
  margin: 6px;
}

.toolbarEntry-btn {
  user-select: none;
  width: 30px;
  height: 30px;
}

#toolbarEntry-visible-btn {
  float: left;
  color: blue;
}

#toolbarEntry-navigate-btn {
  float: left;
}

#toolbarEntry-close-btn {
  float: right;
}
