.canvas-sidebar__wrapper {
}

.canvas-sidebar__button {
}

.canvas-sidebar {
  background-color: gray;
  height: 100vh;
  float: right;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.canvas-sidebar > .MuiDrawer-paper {
  width: 22.5%;
}
