.sidebar {
  background-color: blue;
  height: 100vh;
  width: 22.5%;
  float: right;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: green;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.header__title {
}

.header__button {
  margin-left: auto;
  white-space: nowrap;
}

.player-list {
  overflow: scroll;
}

.player-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: orange;
  height: 3rem;
  margin: 0.5rem;
  padding: 0.1rem;
  border-radius: 0.5rem;
}

.player-card__name {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.footer {
  background-color: yellow;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button--remove {
  margin-left: auto;
}

.footer__item__wrapper {
  margin: 0.5rem;
}

.footer__item {
  width: 100%;
}
