.canvas-sidebar .open-close-button {
  position: absolute;
  transition: all 0.15s ease-out;
  bottom: 0;
  margin: 0.5rem;
}

.canvas-sidebar .container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.canvas-sidebar .container .MuiDrawer-paper {
  width: 20%;
}
/* Not sure why this is necessary */
.canvas-sidebar .MuiDrawer-root {
  padding: 0;
}
