.modal {
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: ease 0.5s all;
}

.modal input {
  border: none;
  text-align: center;
  width: 2rem;
}

.button-group {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.modal-content-wrapper {
  background-color: white;
  width: 80%;
  max-width: 40rem;
  max-height: 90vh;
  padding: 1rem;
  padding-top: 0.5rem;
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  /* border-radius: 0.5rem; */
  transition: ease 0.5s all;
  overflow-y: scroll;
  overflow-x: hidden;
}

.--wide {
  max-width: 80rem;
}

.modal__header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}

.modal__header p {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.modal__body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__footer {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.users-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.users-box__user {
  display: inline-flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 1.5rem;
}

.users-box__user p {
  padding: 0.2rem 0.5rem 0.2rem 1rem;
  text-align: center;
  margin: 0;
}

.users-box__user button {
  padding: 0 0.5rem;
  border-radius: inherit;
  background-color: inherit;
  display: inline-flex;
  align-items: center;
  border: none;
}

.users-box__user button:hover {
  cursor: pointer;
}

.users-box__user button:disabled {
  cursor: default;
}

.no-bottom-margin {
  margin-bottom: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
