.nodeview .node-header-image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.nodeview .node-header {
  /* background-color: royalblue; */
  width: 100%;
}

.nodeview .node-topline {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.nodeview .node-topline p {
  font-size: 2rem;
  margin: 0;
}

.nodeview {
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  z-index: 1201;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
}

.nodeview .node__type {
  font-size: 1.5rem;
  font-weight: lighter;
  font-style: italic;
}

/* Hide scrollbar */
/* .nodeview::-webkit-scrollbar {
  display: none;
}
.nodeview {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.nodeview .new-subnode {
  display: flex;
  gap: 1rem;
}

.scroll-up {
  animation-name: scrollUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

@keyframes scrollUp {
  0% {
    /* transform: translateY(100vh); */
    opacity: 0;
  }
  100% {
    /* transform: translateY(0); */
    opacity: 1;
  }
}
