.node {
  user-select: none;
  position: absolute;
  background-color: yellow;
  background-size: cover;
  overflow: visible;
  border: solid #000;
  border-width: 2px;
  padding: 0px;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
}

.node:hover {
  cursor: move;
}

.node-button-div {
  position: relative;
  float: right;
  top: -32px;
}

.node-button {
  height: 30px;
  width: 30px;
  text-align: center;
}

.node-text-div {
  color: red;
}
