.transform-wrapper {
  margin: 0rem;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.centerOffSet-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.scale-container {
  transform-origin: top left;
  transform: scale(1);
}

.grid-container {
  pointer-events: none;
  user-select: none;
  transform: translate(-50%, -50%);
  position: relative;
  width: 7000px;
  height: 7000px;
  background-color: white;
  background-image: linear-gradient(#d2d3e1 4px, transparent 4px), linear-gradient(90deg, #d2d3e1 4px, transparent 4px),
    linear-gradient(#d2d3e1 2px, transparent 2px), linear-gradient(90deg, #d2d3e1 2px, #ffffff 2px);
  background-size: 100px 100px, 100px 100px, 25px 25px, 25px 25px;
  background-position: -2px -2px;
  opacity: 0.6;
}
