.nodeview-container {
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
}

.alert-container {
  position: absolute;
  margin: 1rem;
  z-index: 1201;
  right: 0;
  bottom: 0;
}
