.canvas-sidebar-header {
  display: flex;
  flex-direction: column;
}

.canvas-sidebar-header .title__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.canvas-sidebar-header .title {
  flex-grow: 1;
  min-width: 0;
}

.canvas-sidebar-header .button {
  margin-left: auto;
  white-space: nowrap;
}
