.canvas-sidebar-header__wrapper {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.canvas-sidebar-header__title__wrapper {
  flex-grow: 1;
}

.canvas-sidebar-header__title {
  width: 100%;
}

.canvas-sidebar-header__button {
  margin-left: auto;
  white-space: nowrap;
}
