.subnodeview {
  padding: 0 0 1rem 0;
}

.subnodeview .subnode-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subnodeview .nodelink {
  color: red;
}

.subnodeview .nodelink:hover {
  cursor: pointer;
  background-color: lightgray;
}
